@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Open+Sans&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Bungee Spice', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
.hero{
    background-image: url('../media/cow.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 20px;
    letter-spacing: 20px;
    padding-top: 70px;
}

.article{
    width: 80%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 100px; */
    margin: 60px auto;
    border-width: 15px;
    border-color: yellow;
    border-style: solid;
    background: linear-gradient(pink, blue);
    padding: 60px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.article h2{
    text-align: center;
    font-size: 48px;

    border-style: solid;
    border-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: yellow;
    padding-bottom: 30px;
    margin-bottom: 60px;
}

.article p{
    font-size: 28px;
    line-height: 2rem;
}

.article p .imp{
    font-size: 2em;
}